.bullet_list {
    &--title {
        color: $primary;
    }
    ul {
        padding: 0;
        li {
            display: flex;
            padding: 5px 0;
            margin-bottom: 7px;
            &:before {
                flex-grow: 0;
                flex-shrink: 0;
                content: "";
                width: 25px;
                height: 25px;
                background-image: url($bullet-icon);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-right: 15px;
                margin-top: -2px;
            }
        }
    }
}
