.expand__element {
    &--title {
        color: $primary;
    }
    &--text {
        &.hidden {
            display: none;
        }
    }
    &--btn {
        display: inline-flex;
        align-items: center;
        border: none;
        background-color: transparent;
        padding-left: 0;
        margin-bottom: 0.5rem;
        &:before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background-color: $light;
            background-image: url("/icons/chevron-right.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 21px;
            margin-right: 6px;
            transition: transform 0.3s ease;
        }
        &.active {
            &:before {
                transform: rotate(90deg);
            }
        }
    }
}
