.alert {
    box-sizing: border-box;
    border-radius: $border-radius;
    margin: 1rem auto;
    color: #595959;
    line-height: 22px;
    border: 2px solid $light;
    background: $light;

    .content {
        padding: 1rem;
        background: $white;
        width: 100%;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;

        @include media-breakpoint-down(lg) {
            width: calc(100% - 20px);
        }
    }

    .icon-wrapper {
        width: 35px;
    }

    b {
        font-family: $font-primary !important;
        color: $primary;
        margin-bottom: 5px;
    }

    i {
        color: $bg-primary;
    }

    a {
        color: $secondary;
    }

    &-primary,
    &-secondary,
    &-info,
    &-alert {
        border-color: $info;
        background: $info;
    }

    &-warning {
        border-color: $warning;
        background: $warning;
    }

    &-danger {
        border-color: $danger (252, 17, 84, 0.5);
        background: $danger;
    }

    &-success {
        border-color: $success (0, 168, 98, 0.5);
        background: $success;
    }

    &-tip {
        border-left: 5px solid $primary;
        padding-left: 2rem;
    }
}
