details {
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: $border-radius;
    -webkit-box-shadow: 0 1px 8px rgba(136, 136, 136, 0.15);
    box-shadow: 0 1px 8px rgba(136, 136, 136, 0.15);
}

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M17 13.4L12.7 9.2C12.6 9.1 12.5 9 12.4 9 12.3 8.9 12.1 8.9 12 8.9 11.9 8.9 11.7 8.9 11.6 9 11.5 9 11.4 9.1 11.3 9.2L7 13.4C7 13.5 6.9 13.6 6.8 13.7 6.8 13.9 6.8 14 6.8 14.1 6.8 14.3 6.8 14.4 6.8 14.5 6.9 14.6 7 14.7 7 14.8 7.2 15 7.5 15.1 7.8 15.1 8 15.1 8.3 15 8.5 14.8L12 11.3 15.5 14.8C15.7 15 16 15.1 16.2 15.1 16.4 15.1 16.5 15.1 16.6 15 16.7 15 16.9 14.9 16.9 14.8 17 14.7 17.1 14.6 17.2 14.5 17.2 14.4 17.3 14.3 17.3 14.1 17.3 14 17.3 13.9 17.2 13.7 17.2 13.6 17.1 13.5 17 13.4Z" fill="black"/></svg>');
    position: absolute;
    height: 24px;
    right: 0;
}

details:not([open]) summary:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition-duration: 0.3s;
}

details[open] summary:after {
    -webkit-transform: rotate(0);
    transform: rotate(0deg);
    transition-duration: 0.3s;
}

details summary {
    outline: 0;
}

details p {
    margin: 0 0 1rem;
    padding-top: 1rem;
}
