header {
    position: sticky;
    top: 0;
    z-index: 99;
    height: $header-desktop-height;
    background-color: $header-bg-color;
    border-bottom: 1px solid $layout-border;
    font-family: $font-primary;

    @if variable-exists(header-bg-img) {
        background-image: url($header-bg-img);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .header-wrapper {
        height: 100%;
    }

    @include media-breakpoint-down(lg) {
        height: $header-mobile-height;
    }
    img {
        min-width: 80px;
        max-width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        object-fit: contain;
    }

    .menu--primary {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            white-space: nowrap;
            height: 120px;
            padding-bottom: 25px;

            a {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-size: 16px;
                letter-spacing: 0.03em;
                margin-right: 0.5rem;
                color: $menu-inactive-item;

                svg {
                    margin-right: 8px;
                    opacity: 0.5;
                    filter: grayscale(1);
                    transition: 0.2s ease-in;
                }

                &.active {
                    color: $menu-active-item;
                    position: relative;
                    font-weight: bold;

                    svg {
                        opacity: 1;
                        filter: grayscale(0);
                        transition: 0.2s ease-in;
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 1px;
                        width: 10px;
                        height: 10px;
                    }

                    &::before {
                        left: -9px;
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDEwLjc1SDEwVjAuNzVDMTAgNi4yNzI4NSA1LjUyMjg1IDEwLjc1IDAgMTAuNzVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
                        filter: grayscale(1);
                        opacity: 0.5;
                    }

                    &::after {
                        right: -9px;
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCAxMC43NUgwVjAuNzVDMCA2LjI3Mjg1IDQuNDc3MTUgMTAuNzUgMTAgMTAuNzVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
                        filter: grayscale(1);
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    a {
        color: $text;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    [data-toggle] {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.25s ease;

        &:not(.opaque) {
            opacity: 0;
            cursor: initial;
        }
    }

    [data-toggle="menu"] {
        &.active {
            transform: rotatey(180deg);
            transition: 0.25s ease;
        }
    }

    .input-group {
        input {
            width: 260px;
            height: 32px;
            line-height: 32px;
        }
    }

    span {
        font-family: $font-primary;
        white-space: normal;
    }

    .logo {
        text-align: center;
        background-image: url($header-logo-path);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        height: $header-logo-desktop-height;

        @include media-breakpoint-down(lg) {
            background-image: url($footer-logo-path);
            height: $header-logo-mobile-height;
        }
    }
}

.fastSearch {
    position: relative;
    top: 24px;

    @include media-breakpoint-down(lg) {
        max-width: 100%;
        padding: 10px;
        top: 0;
    }

    .input-group {
        color: $search-font-color;
        position: relative;

        input,
        .form-control:not(:first-child),
        .custom-select:not(:first-child) {
            outline: none;
            height: 32px;
            line-height: 32px;
            border: 1px solid $search-border;
            border-radius: $border-radius;
            padding-left: 30px;
        }

        .input-group-append {
            height: 32px;
            position: absolute;
            left: 10px;
            z-index: 4;

            i {
                line-height: 32px;
            }
        }
    }
}

aside {
    position: relative;
    @include media-breakpoint-down(lg) {
        display: none;
        background: darken($light, 5);

        .sticky {
            background: darken($light, 5);
        }
    }
}
