h1 a,
h2 a,
h3 a,
h4 a {
    color: $section-headers;
}

.section {
    margin: 1rem 0;

    .content-wrapper {
        height: 100%;
    }

    h1,
    h2,
    h3,
    h4 {
        color: $section-headers;
        font-weight: 700;
        font-family: $font-primary;
        margin-top: 15px;
    }

    h1 {
        font-size: 36px;
        line-height: 44px;
    }

    h2 {
        font-size: 32px;
        line-height: 39px;
    }

    p {
        font-family: $font-primary;
        color: $section-texts;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    ul,
    ol {
        color: $section-list-items;
    }
}

.section-left-right {
    p {
        font-family: $font-primary;
    }

    ul,
    ol {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }
}
