.tabs {
    &__tab {
        cursor: pointer;
        border: 1px solid transparent;
        &.active {
            border: 1px solid $bg-secondary;
            box-shadow: 0 1px 8px rgba(136, 136, 136, 0.15);
            border-radius: $border-radius;
        }
    }
    &__content {
        border: 1px solid $bg-secondary;
        box-shadow: 0 1px 8px rgba(136, 136, 136, 0.15);
        border-radius: $border-radius;
        margin-top: 1rem;
        > div:not(.active) {
            display: none;
        }
        pre {
            margin-bottom: 0;
        }
    }
}
