{{ define "main" }} {{ partial "header-link.html" .Content }}

<div class="row mt-4 px-3">
    {{ range .Pages }} {{ if .Params.infoType }}
    <div class="col-12 col-lg-6 my-2">
        <div class="py-4 h-100">
            <div class="d-block mb-4 list--icon">
                {{ if .Params.Icon }} {{ readFile (printf
                "/static/icons/ico-%s.svg" .Params.icon) | safeHTML }} {{ else
                }} {{ readFile (printf "/static/icons/ico-%s.svg"
                .Params.infoType ) | safeHTML }} {{ end }}
            </div>
            <span class="h5 text-primary mb-3 d-block">{{ .Title }}</span>
            <p class="mb-2 summary">{{ .Summary | markdownify }}</p>
            <a href="{{ .RelPermalink }}" class="stretched-link read-more"
                >Read More</a
            >
        </div>
    </div>
    {{ end}} {{ end}}
</div>

{{ end }}
