{{ define "main" }}

{{ partial "header-link.html" .Content }}

{{ range $.Pages }}
<div class="faq my-2">
    <div class="p-4 faq--header">
        {{ .Params.Question }}
    </div>
    <div>
        <div class="p-4">{{ .Content }}</div>
    </div>
</div>
{{ end }}

{{ end }}