{{ $content := .Inner }}
{{ $splitContent := split $content "<!--expand-->" }}

{{ with (index $splitContent 0) }}
<p>{{ . | markdownify }}</p>
{{ end }}

{{ with (index $splitContent 1) }}
<div>
    <button class="expand__element--btn">More...</button>

    <div class="expand__element--text hidden">
        {{ . | markdownify }}
    </div>
</div> 
{{ end }}