{{/*
    Two-panel section meant for full width layout. It uses 3 arguments:
    "text-order" - either 'left' or 'right'
    "image-order" - either 'left' or 'right'
    "background" - hex value of background colour
*/}}

{{ $textorder := 0 }}
{{ $imageorder := 0 }} 
{{ if eq (.Get "text-order") "left" }} {{ $textorder = 1 }} {{ end }}
{{ if eq (.Get "text-order") "right" }} {{ $textorder = 3 }} {{ end }}
{{ if eq (.Get "image-order") "left" }} {{ $imageorder = 1 }} {{ end }}
{{ if eq (.Get "image-order") "right" }} {{ $imageorder = 3 }} {{ end }}

<section
    class="section section-left-right"
    style="background-color:{{.Get `background`}}"
>
    <div class="row no-gutters">
        <div class="col-12 offset-xl-1">
            <div class="row no-gutters">
                <div class="col-12 col-xl-6 order-{{ $textorder }}">
                    <div
                        class="px-5 d-flex justify-content-center flex-column content-wrapper"
                    >
                        {{ .Inner | markdownify }}
                    </div>
                </div>
                {{ if (lt $imageorder $textorder) }}
                <div class="col-xl-1 order-2"></div>
                {{ end }}
                <div class="col-12 col-xl-4 order-{{ $imageorder }}">
                    <div
                        class="px-5 d-flex justify-content-center flex-column content-wrapper"
                    >
                        <img src="{{ .Get `image-url` }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
