<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb ml-auto breadcrumb-dcmi">
        {{ if eq .Kind "home"}}
        {{/*  BREADCRUMBS  */}}
        {{ else if (or (eq .Kind "section") (eq .Kind "page")) }}
        {{ $breadcrumbs := (slice .Path) }}
        {{ with .Parent }}
        {{ $breadcrumbs = $breadcrumbs | append (.Path) }}
        {{ with .Parent }}
        {{ $breadcrumbs = $breadcrumbs | append (.Path) }}
        {{ with .Parent }}
        {{ $breadcrumbs = $breadcrumbs | append (.Path) }}
        {{ with .Parent }}
        {{ $breadcrumbs = $breadcrumbs | append (.Path) }}
        {{ with .Parent }}
        {{ $breadcrumbs = $breadcrumbs | append (.Path) }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ range (seq (sub (len $breadcrumbs) 1) 0)}}
        {{ $page := $.Site.GetPage (index $breadcrumbs .) }}
        {{ if gt . 0 }}
        <li class="breadcrumb-item"><a href="{{ $page.Permalink }}">{{ $page.LinkTitle }}</a></li>
        {{ else }}
        <li class="breadcrumb-item">{{ $page.LinkTitle }}</li>
        {{ end }}
        {{ end }}
        {{ else if eq .Kind "taxonomy" }}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{.Data.Plural}}">{{title .Data.Plural}}</a></li>
        <li class="breadcrumb-item">{{ .LinkTitle }}</li>
        {{ else if eq .Kind "taxonomyTerm" }}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">{{title .Data.Plural}}</li>
        {{ end }}
    </ol>
</nav>
